@model List<Department>
@{
    ViewData["Title"] = "ShowDepartments";
}

<h1>Departments</h1>

<div style="text-align:center">
    <table class="table table-responsive table-hover">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Department Doctors</th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                <td><a asp-action="ShowDepartmentDoctors" asp-controller="Patient" asp-route-DeptId="@item.Id" class="btn btn-success">Doctors</a></td>
                </tr>
            }
    </table>
</div>