@model AdminNurseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Nurse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEdit" asp-controller="Nurse" >
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                
                <input type="hidden" asp-for="Id" class="form-control" />
                
            </div>

            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            

            <div class="col-md-12">
                <label asp-for="Imag">Upload Image</label>
                <div style="color:green"> if you didn't upload new one last one will be kept</div>
                <input class="form-control" type="file" asp-for="@Model.Imag">
                <br />
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="DepartmentId" class="form-control" />
                <input type="hidden" asp-for="Salary" class="form-control" />
                <input type="hidden" asp-for="CurrentImage" class="form-control" />
                <input type="hidden" asp-for="Gender" class="form-control" />
                <input type="hidden" asp-for="Password" class="form-control" />
                <input type="hidden" asp-for="userid" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><buttom class="btn btn-primary">Back to List</buttom></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
