@{
    ViewData["Title"] = "Index";
}


<h3 style="color:black"> Welcome Nurse In Our Hospital</h3>


<div class="form-button mt-3">
    <a asp-action="ViewAppointment" asp-controller="Nurse">
        <button id="submit" class="btn btn-primary">
            View Appointments
        </button>
    </a>
</div>


<div class="form-button mt-3">
    <a asp-action="ViewPatientMedicalRecord" asp-controller="Nurse">
        <button id="submit" class="btn btn-primary">
            Medical Records
        </button>
    </a>
</div>

<div class="form-button mt-3">
    <a asp-action="NurseEditView" asp-controller="Nurse">
        <button id="submit" class="btn btn-primary">
            Edit Nurse Profile
        </button>
    </a>
</div>





