
@{
    ViewData["Title"] = "SuperAdminPage";
}

<h1>Super Admin Page</h1>

<br />
<br />

<a href="~/SuperAdmin/ViewAllAdmins" class="btn btn-primary">View All Admins</a>

<br />
<br />

<a href="~/SuperAdmin/AddNewAdmin" class="btn btn-primary">Add New Admin</a>

<br />
<br />

<a href="~/SuperAdmin/ViewAllDeptDoctors" class="btn btn-primary">View All Doctors</a>

<br />
<br />

<a href="~/SuperAdmin/ViewAllDeptNurses" class="btn btn-primary">View All Nurses</a>

<br />
<br />

<a href="~/SuperAdmin/ViewAllDepartments" class="btn btn-primary">View All Departments</a>

<br />
<br />

<a href="~/SuperAdmin/AddNewDepartment" class="btn btn-primary">Add New Department</a>